<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <appSettings>
    <!-- Common Parameters -->
    <add key="User" value="jack" />
    <add key="UserDp" value="jewel" />
    <add key="UserAnalyst" value="John" />
    <add key="UserManager" value="Joe" />
    <add key="UserAdmin" value="Jack" />
    <add key="Password" value="Dummy#123" />
    <add key="ExcelReportPath" value="Reports\AutomationReport - " />
    <add key="webapikey" value="c21cf389a8efe534fc9f0b4da360817d6646e0583adb9a2" />
    <add key="ElementLoadTime" value="200" />
    <!--key to display screenshots via http-->
    <add key="PublicScreenPath" value="http://localhost:81/Screens/" />



    <!--Parameters for Jmeter Performance testing -->
    <add key="CBTestConfigPath" value="ExaLinkChargebacks\DataSheets\ChargebackDataSheet.xlsx" />
    <add key="CBJmeterResultPath" value="C:\TestResults\Exalink\Chargebacks\PerformanceTests\Scripts" />
    <add key="ChargebackUIPerfResultPath" value="C:\TestResults\Exalink\Chargebacks\UI_Performance\Scripts\" />
    <add key="CLJmeterConfigSheetPath" value="ExaLinkClaims\DataSheets\ClaimsJMeterDataSheet.xlsx" />
    <add key="CLJmeterResultPath" value="C:\TestResults\Exalink\Claims\PerformanceTests\Scripts" />
    <add key="CLJmeterPdfFilesPath" value="C:\ProgramData\Exalink\Claims\PerformanceTests\Scripts\" />
    <add key="GPJmeterConfigSheetPath" value="ExaLinkGPCalcs\DataSheets\GPCalcsJMeterDataSheet.xlsx" />
    <add key="GPJmeterResultPath" value="C:\TestResults\Exalink\GPCalcs\PerformanceTests\Scripts" />
    <add key="AFESJmeterConfigSheetPath" value="LfsUploadFiles\Configuration.xlsx" />
    <add key="AFESJmeterResultPath" value="C:\TestResults\Exalink\AFES\PerformanceTests\Scripts" />
    <add key="PSToolPath" value="C:\Users\qa\Desktop\PSTools" />
    <add key="PlinkExePath" value="C:\Users\qa\Downloads\Putty" />
    <add key="ServerSubNet" value="10.12.227" />
    <add key="MasterRemoteSessionID" value="2" />
    <add key="SlaveRemoteSessionID" value="2" />

    <!-- Parameters for Clearing the Claims database for JMeter test case-->
    <add key="DBServer" value="cbd-qaperf1-db8" />
    <add key="DBUser" value="qa" />
    <add key="DBPassword" value="Monkey$3005" />
    <add key="ClearDBCommands" value="ExaLinkClaims\TestCases\Performance\API\Scripts\CleanDB\Command.txt" />

    <!-- PostgresSql server connection info-->
    <add key="PGDBServerHost" value="cbd-qaperf1-db8" />
    <add key="PGDBUser" value="camunda" />
    <add key="PGDBPassword" value="camunda" />


    <!-- Common Parameters for Selenium Grid -->
    <add key="SeleniumGridServerJarFilePath" value="C:\Selenium_Grid\selenium-server-standalone-3.4.0.jar" />
    <add key="ChromeDriverFullPath" value="C:\ChromeDriver\chromedriver.exe" />
    <add key="PsExec64FullPath" value="C:\Selenium_Grid\PSTools\PsExec64.exe" />
    <add key="HubIpAddress" value="10.12.227.163" />
    <add key="HubPort" value="4445" />
    <add key="HubRemoteSessionId" value="3" />
    <add key="NodeRemoteSessionId" value="2" />
    <add key="MaxInstances" value="5" />
    <add key="MaxSession" value="20" />
    <add key="PerformanceClaimsUrl" value="http://cbd-qaperf1-gateway1/" />

    <!-- Claims -->
    <add key="ClaimsConfigurationSheetPath" value="ExaLinkClaims\DataSheets\Configuration.xlsx" />

    <!-- Shared Services -->
    <add key="SSConfigurationSheetPath" value="ExaLinkSharedServices\DataSheets\SSConfiguration.xlsx" />

    <!-- New Relic -->
    <add key="EXPLT" value="1.3.10" />
    <add key="EXSS" value="1.4.6" />
    <add key="EXMCL" value="1.4.4.10" />
    <add key="EXCP" value="3.2.20" />
    <add key="EXCB" value="1.2.0.9" />
    <add key="newrelicsheets" value="Server Metrics|Docker Container Metrics" />

    <!-- Chargebacks -->
    <add key="UploadDomainFilesPath" value="LfsUploadFiles\DomainFiles\" />
    <add key="UploadChargebackFilePath" value="LfsUploadFiles\ChargebacksFiles\" />
    <add key="AnalystReview" value="Analyst review" />
    <add key="FinalReview" value="Final review" />
    <add key="Open" value="OPEN" />
    <add key="CSV844" value="LfsUploadFiles\ChargebacksFiles\CSV844_1.csv" />
    <add key="CSVCreditResponse" value="LfsUploadFiles\ChargebacksFiles\CSVCR_ByDM.csv" />


    <!--GP Calcs -->
    <add key="DownloadPath" value="ExaLinkGPCalcs\bin\Debug\Downloads" />

    <!-- GP Calcs UI Performance -->
    <add key="GPCalcsUIPerformanceResultPath" value="C:\TestResults\Exalink\GPCalcs\UI_Performance\Scripts\" />

    <!-- CGDP region-->
    <add key="CGDPJmeterConfigSheetPath" value="ExaLinkCGDP\DataSheets\CGDPJMeterDataSheet.xlsx" />
    <add key="CGDPJmeterResultPath" value="C:\TestResults\Exalink\CGDP\PerformanceTests\Scripts" />

    <add key="UserPdgAnalyst" value="pdg_analyst" />
    <add key="UserPdgManager" value="pdg_manager" />
    <add key="UserExternal" value="umbrellatest@external-cust.lan" />
    <add key="CgdpEnvUrl" value="http://pdg-dev-app1" />
    <add key="DBConnStringQA" value="Server=pdg-qa-db1.zkpsl3bk22wuvfspx0uhovklae.bx.internal.cloudapp.net;Port=5432;User Id=camunda;Password=camunda;" />

    <!-- COT/PHS region-->
    <add key="COTPHSJmeterConfigSheetPath" value="ExaLinkCOTPHS\DataSheets\COTPHSJMeterDataSheet.xlsx" />
    <add key="COTPHSJmeterResultPath" value="C:\TestResults\ExaLinkCOTPHS" />


    <!-- DCP region-->
    <add key="DCPJmeterConfigSheetPath" value="ExaLinkDCP\DataSheets\DCPJMeterDataSheet.xlsx" />
    <add key="DCPJmeterResultPath" value="C:\performance_test\output\Scripts" />

    <!-- IBI region-->
    <add key="IBIJmeterConfigSheetPath" value="ExaLinkIBI\DataSheets\IBIJMeterDataSheet.xlsx" />
    <add key="IBIJmeterResultPath" value="C:\TestResults\ExaLinkIBI" />

    <!-- Synthetic Data-->
    <add key="SDTestConfigPath" value="ExaLinkSD\DataSheets\Configuration.xlsx" />

    <!--Data Management-->
    <add key="AWSProfileName" value="any name for your profile" />
    <add key="AWSAccessKey" value="your Access Key goes here" />
    <add key="AWSSecretKey" value="your Secret Key goes here" />
    <add key="DMConfigurationSheetPath" value="ExaLinkDataManagement\DataSheets\Configuration.xlsx" />

    <!-- Master Data-->
    <add key="MDConfigSheetPath" value="ExaLinkSharedServices\DataSheets\MasterDataDataSheet.xlsx" />
    <add key="MDUIResultPath" value="D:\TestResults\Exalink\MasterData\UIFunctionalTesting\" />
    <add key="MDPerfResultPath" value="D:\TestResults\Exalink\MasterData\PerformanceTesting\" />
    <add key="ExpectedCoreBUTabs" value="USER-DEFINED ATTRIBUTES,CLASS OF TRADE,RELATIONSHIPS,ELIGIBILITY GROUP BU,SOURCE BU LINKS,URLs" />
    <add key="ExpectedSourceBUTabs" value="ADDRESS,USER-DEFINED ATTRIBUTES,IDENTIFIER,CLASS OF TRADE,RELATIONSHIPS" />

    <add key="SSDownloadPath" value="C:\Downloads" />
    <add key="MDUIPerformanceResultPath" value="D:\TestResults\Exalink\MasterData\UIPerformanceTesting\" />

  </appSettings>

  <log4net>
    <appender type="log4net.Appender.RollingFileAppender" name="CommonLogAppender">
      <file type="log4net.Util.PatternString" value="" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%-5p] %d{yyyy-MM-dd HH:mm:ss} - %C   %m%n" />
      </layout>
    </appender>

    <appender type="log4net.Appender.RollingFileAppender" name="RollingFileAppender3">
      <file type="log4net.Util.PatternString" value="Performance_Log%date{yyyyMMdd}.log" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%-5p] %d{yyyy-MM-dd HH:mm:ss} - %C   %m%n" />
      </layout>
    </appender>

    <appender type="log4net.Appender.RollingFileAppender" name="CommonLogAppenderMinimalLock">
      <file type="log4net.Util.PatternString" value="" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%-5p] %d{yyyy-MM-dd HH:mm:ss} - %C   %m%n" />
      </layout>
    </appender>

    <appender type="log4net.Appender.RollingFileAppender" name="ClaimsLogAppender">
      <file type="log4net.Util.PatternString" value="Claims_Log%date{yyyyMMdd}.log" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="5MB" />
      <layout type="log4net.Layout.PatternLayout">
        <IgnoresException value="False" />
        <conversionPattern value="[%level]: Time: %date{hh:mm:ss tt}, Class: %C, Message: %m, Type:%type, Line: %line%n[Stacktrace]: %stacktrace{5}%n[Exception]: %exception%n%n" />
      </layout>
    </appender>
    <!--ConsoleLog Appender -->
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level - %message%newline" />
      </layout>
    </appender>

    <logger name="CommonLog" additivity="false">
      <level value="ALL" />
      <appender-ref ref="CommonLogAppender" />
      <appender-ref ref="CommonLogAppenderMinimalLock" />
      <appender-ref ref="ConsoleAppender" />
    </logger>

    <logger name="PerformanceLog">
      <level value="ALL" />
      <appender-ref ref="RollingFileAppender3" />
      <appender-ref ref="ConsoleAppender" />
    </logger>

    <logger name="ClaimsLog" additivity="false">
      <level value="ALL" />
      <appender-ref ref="ClaimsLogAppender" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
  </log4net>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="debug">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISeleniumGridRemoteService" />
        <binding name="BasicHttpBinding_ISeleniumGridRemoteService1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://10.12.227.163:8080/SeleniumGridRemoteService/SeleniumGridService.svc/SeleniumGridRemoteService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISeleniumGridRemoteService" contract="ServiceReference1.ISeleniumGridRemoteService" name="BasicHttpBinding_ISeleniumGridRemoteService" />
      <endpoint address="http://10.12.227.166:8080/SeleniumGridRemoteService/SeleniumGridService.svc/SeleniumGridRemoteService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISeleniumGridRemoteService1" contract="ServiceReference2.ISeleniumGridRemoteService" name="BasicHttpBinding_ISeleniumGridRemoteService1" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.10.1.0" newVersion="3.10.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="nunit.engine" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.7.0.0" newVersion="3.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.2.2.0" newVersion="106.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
